#login-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#login-label {
    font-size: 2.5em;
    max-width: fit-content;
}

#email-code-label {
    white-space: nowrap;
}

#verify-code {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#verify-code-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.digit {
    width: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.digit:focus {
    outline: none;
}

#veracross-logo {
    display: inline;
}

#login-button:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
